{% extends "base.html" %}
{% block title %}借出登記表{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/commonset.css">
    <link rel="stylesheet" href="/css/showtable.css">
{% endblock %}

{% block content %}
    <div class="row">
        <form method="POST" action="{{ route('add', {'item': item}) }}">
            {{ csrf_field }}
            <div class="row mt2" style="width: 60vw;">
                <div class="flex column">
                    <label>借用人</label>
                    <select name="borrow">
                        @for staff in staff_all
                            <option value="{{staff.name}}"> {{staff.name}}</option>
                        @endfor
                    </select>
                </div>
                <div class="flex column">                    
                    @if item
                        <label > {{ item }} </label>
                        <select name="device">
                            @for device in query.table(item).get()
                                <option value="{{device['name']}}"> {{device['name']}} </option>
                            @endfor
                        </select>
                    @endif
                </div>
                <div class="flex column">
                    <label for="borrow_time">借出時間</label>
                    <input type="datetime-local" name="borrow_time" value="{{nowtime}}"/>
                </div>
                <input type="submit" value="新增"/>
            </div>
        </form>
        @if auth()
            <div class="row">
                <div>
                    <label for="borrow_time">目前使用者：</label>
                    <br>
                    <label for="borrow_time">{{ user_inuse.name }}</label>
                </div>
                <div>
                    <form method="GET" action="{{ route('logout') }}" style="">                        
                        <input class="mt2 l2" type="submit" value="登出"/>
                    </form>
                </div>
            </div>
        @endif
    </div>
    @if item
        <table style="width: 100%;">
            <tr>
                @for l in ["編號", "借用人", item,"借出時間", "確認者", "歸還時間"]
                    <td>{{l}}</td>
                @endfor
            </tr>
            @for bt in Borrow_table               
                @if not bt.user.name or not bt.return_time    
                    <tr class="hover">                    
                        <td class="note">{{bt.id}}</td>
                        <td class="note">{{bt.bs.name}}</td>
                        <td class="note">{{bt.device.name}}</td>
                        <td class="note">{{bt.borrow_time}}</td>
                        <form method="POST" action="/C_U">
                            {{ csrf_field }}
                            <td>
                                <select name="confirm" class="opacity">
                                    @for user in user_all
                                        <option value="{{user.id}}"> {{user.name}}</option>
                                    @endfor
                                </select>
                            </td>                
                            <td >
                                <input class="opacity" type="datetime-local" name="return_time" value="{{nowtime}}"/>
                                <input class="none" type="text" name="btid" value="{{bt.id}}"/>
                                <input class="opacity" type="submit" value="歸還"/>
                                @if bag().any()
                                    @for message in bag().messages()
                                        <p> {{message}} </p>
                                    @endfor
                                @endif
                            </td>
                        </form>
                    </tr>
                @else
                    <tr>
                        <td>{{bt.id}}</td>
                        <td>{{bt.bs.name}}</td>
                        <td>{{bt.device.name}}</td>
                        <td>{{bt.borrow_time}}</td>
                        <td>{{bt.user.name or ""}}</td>                
                        <td>{{bt.return_time or ""}}</td>
                    </tr>
                @endif
                {#
                <tr class="none update_form">
                    <form method="POST" action="/C_U">
                        {{ csrf_field }}
                        <td style="background-color: white;"><label class="close">X</label></td>
                        <td>
                            <label>確認者</label>
                            <select name="confirm">
                                @for user in user_all
                                    <option value="{{user.id}}"> {{user.name}}</option>
                                @endfor
                            </select>
                        </td>
                        <td>
                            <label for="return_time">歸還時間</label>
                            <input type="datetime-local" name="return_time" value="{{nowtime}}"/>
                        </td>
                        <td class="none"><input type="text" name="btid" value="{{bt.id}}"/></td>
                        <td>
                            <input type="submit" value="歸還"/>
                        </td>
                    </form>
                </tr>
                #}
            @endfor
        </table>
    @endif
{% endblock %}

{% block js %}
    <script src="/js/confirm.js"></script>
{% endblock %}